= simple_form_for([@post,@comment]) do |f|
  .control-group
    .field
      = f.text_area :body, :class => 'wysihtml5 span6', :value => @comment.body
    .actions
      = f.submit 'Save', :class => 'btn'
:javascript
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });