%h1 src
.row-fluid
	- @posts.each do |f|
		.span4.postbox
			.bump
				%h2.divide= f.title
				%p= f.body
				%p.offset4
					=link_to 'More...', f, :class => "btn"


- if user_signed_in?
	= link_to 'New Post', new_post_path