- content_for(:title) do
	Index

- unless user_signed_in?
	.row-fluid
		.hero-unit
			%h1 Welcome to Source.
			%p We're a community dedicated to learning, sharing, and self-discovery.
			%p
				=link_to 'Learn more', '#', :class => 'btn-primary btn-large offset2'

.row.centered#postcontainer
	-Post.order('last_comment_at')
	- @posts.each do |f|
		.span3.postbox.bump2
			.bump
				%h2.divide.smaller3= f.title
				%p= index_process(f.body)
				%p
					=link_to 'More...', f, :class => "btn"
				%p
					%small
						Last updated #{time_ago_in_words(f.last_comment_at)} ago

:javascript
	function resizeboxes() {
		var width = $(window).width();
		var setme;
		console.log('resizeboxes called, detected width:', width);
		if (width >= 1200) {
			setme = '250px';
		}
		else if (width < 1200 && width > 1000) {
			setme = '30%';
		}
		else if (width < 1000 && width > 768) {
			setme = '25%';
		}
		else {
			setme = '100%'
		}
		console.log(setme, "set!!!!!");
		$('.postbox').css('width', setme);
	}
	$(document).ready(function(){
		resizeboxes();
		$(window).resize(function() {
			resizeboxes();
		});
		$(window).trigger('reisze');
		$('#postcontainer').masonry({
			itemSelector: '.postbox',
			isAnimated: true,
			columnWidth: 0
		});
	});
