.tabbable.span12
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#about-source"} About
    %li
      %a{"data-toggle" => "tab", :href => "#techdata"} Technical Data
  .tab-content
    .tab-pane.aboot.active#about-source
      Source Connection was a project realized under both Shawn Dall (Chronamut) and Daniel Leining (Luminary) in a joint effort to create a repository of knowledge of both collective factual knowledge and collective unprovable knowledge where people can post any info they want without fear of persecution or censorship. It was created as an offshoot to spirit science and the events of censorship that occured there, in an effort to bring those users who still wished free will of thought to be expressed and discussed. The goal of Source Connection is to create am environment where information is not lost or buried, as it would be on a forum or facebook group. Each user can contribute to adding information to the collective libraries of knowledge and discuss amongst each other.. forming a forum environment through blogs, chat and messaging systems contained within the site. The site will eventually have a lexicon and wiki that will be searchable by anyone and contributable and maintained to those  that are part of the site.. an ever growing knowledge base on just about everything you can imagine.
    .tab-pane.aboot#techdata
      .row
        Rendered by #{`hostname --fqdn`} which has an uptime of #{`uptime`}