/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-wysihtml5
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */
.smaller3 {
	font-size: 20px;
}

@media (min-width: 980px) {
	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.dform1 {
		max-width: 600px;
	}
}

body {
	background-image: url('/bg.png');
	background-attachment: fixed;
}

#post-body {
	padding: 20px;
	color: black;
	min-height: 100px;
	background-color: rgba(255,255,255,0.45);
	border: 3px solid rgb(230,230,255);
	border-radius: 25px;
	margin: 10px;
	box-shadow: 0 0 20px white;
}

.postbox {
	color: black;
	background-color: rgba(255, 255, 255, 0.45);
	border: 3px solid rgb(230, 230, 255);
	border-radius: 25px;
	margin: 10px;
	box-shadow: 0 0 20px white;
	h2 {
		text-shadow: 0px 0px 7px white;
	}
}

.dform1 {
	background-color: rgba(255,255,255,0.45) !important;
	border: 3px solid rgb(230,230,255);
	border-radius: 25px;
	box-shadow: 0 0 20px white;
	color: black;
	.dform2 {
		background-color: rgba(255,255,255,0) !important;
		box-shadow: 0 0 0 0;
		border: 0px solid white;
		float: none;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	h2 {
		text-align: center;
	}
}

.glow {
	color: black;
	text-shadow: 0 0 7px white;
	small {
		color: black !important;
	}
}

.combox {
	color: black;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 0 20px white;
	border-radius: 5px;
	.media-body {
		word-wrap: break-word;
		padding-right: 20px;
	}
}
.round {
	border-radius: 20px;
}

.hero-unit {
	background-color: rgb(220,220,220) !important;
}

.bump {
	margin: 10px;
}

.bump2 {
	margin: 5px;
}

#postcontainer {
	margin-top: 30px;
}

.divide {
	border-bottom: 1px black solid;
}

.comment {

	margin-top: 10px;
	margin-bottom: 0px;
}

.comment_user {
	margin-right: 15px;
	margin-top: 10px;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.wysihtml5 {
	height: 200px
}

